HELP.md
target/
.mvn/*
terraform/.terraform/*
terraform/vars.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.aws-sam/*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
